
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

:root{
    --netural-crem : rgb(246, 246, 246);
    --netural-brown :rgb(217, 202, 179);
    --netural-black : rgb(33, 33, 33);
    --primary-green : rgb(109, 152, 134);
}

/* General styles*/

html{
    scroll-behavior: smooth;
    background-image: radial-gradient(rgb(217, 202, 179) 0.5px, rgb(246, 246, 246) 0.5px);
    background-size: 10px 10px;
}

body{
    font-family: 'Poppins', sans-serif;
}


/* Tansision to all links and buttons */

a{
    transition: all 300ms ease;
}

/* nav section */

nav{
    position: sticky;
    top: 0;
    background-image: radial-gradient(rgb(217, 202, 179) 0.5px, rgb(246, 246, 246) 0.5px);
    background-size: 10px 10px;
    z-index: 1;
}

.nav_bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px; 

}

.nav_title{
    display: flex;
    align-items: center;
    gap: 8px;
}
.nav_title img{
    height: 1.6rem;
}

.nav_title:hover{
    transition: all 300ms ease;
    gap: 16px;
    text-decoration: none;
}

.title:hover{
    text-decoration: none;
}

.nav_links{
    display: flex;
    gap: 12px;
    list-style: none;
    font-size: 1rem;
}


a{
    color: var(--netural-black);
    text-decoration: none;
    text-decoration-color: var(--netural-brown);
}

a:hover{
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

.side_scroll{
    height: 150dvh;
    
}

/* headersection */

#header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 32px;
}

.emoji{

    animation: waving_hand 2.5s infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes waving_hand{
    0%{
        transform: rotate(0deg);
    }
    10%{
        transform: rotate(14deg);
    }
    20%{
        transform: rotate(-8deg);
    }
    30%{
        transform: rotate(14deg);
    }
    40%{
        transform: rotate(-4deg);
    }
    500%{
        transform: rotate(10deg);
    }
    60%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.introduction{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ProjectSection */

/* general */
.project img{
    width: 100%;
    object-fit: contain;
}
/* container */
.project{
    max-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    overflow: hidden;
}

.projectimgcontainer{
    width: 100%;
}

/* foottersection */

#footercontainer{
    background-color: var(--netural-black);
    padding: 32px 0;
    color: white;
}

.rowsection{
    background-color: var(--netural-black);
    display: flex;
    justify-content: space-between;
}
.copyrightsection{
    background-color: var(--netural-black);
    text-align: center;
}

.sideboder{
    border-right: 1px solid whitesmoke;
}