
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

:root{
    --netural-crem : rgb(246, 246, 246);
    --netural-brown :rgb(217, 202, 179);
    --netural-black : rgb(33, 33, 33);
    --primary-green : rgb(109, 152, 134);
}

/* General styles*/

html{
    scroll-behavior: smooth;
    background-image: radial-gradient(rgb(217, 202, 179) 1px, rgb(246, 246, 246) 0.5px);
    background-size: 10px 10px;
}

body{
    font-family: 'Poppins', sans-serif;
}

.sideheadings{
    font-weight: 100;
}

/* Tansision to all links and buttons */

a{
    transition: all 300ms ease;
}

/* nav section */

nav{
    position: sticky;
    top: 0;
    background-image: radial-gradient(rgb(217, 202, 179) 0.5px, rgb(246, 246, 246) 0.5px);
    background-size: 10px 10px;
    z-index: 1;
}

.nav_bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px; 

}

/* text align to the logo image */

.nav_title{
    display: flex;
    align-items: center;
    gap: 8px;
}

/* logo height */
.nav_title img{
    height: 1.6rem;
}

.nav_links{
    display: flex;
    gap: 12px;
    list-style: none;
    font-size: 1rem;
}

a{
    color: var(--netural-black);
    text-decoration: none;
    text-decoration-color: var(--netural-brown);
}
/* hoverstate for each component */
.nav_title:hover{
    transition: all 300ms ease;
    gap: 16px;
    text-decoration: none;
}

.title:hover{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

/* headersection */

#header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 32px;
}

.emoji{

    animation: waving_hand 2.5s infinite;  /* animation name from keyframes */
    transform-origin: 70% 70%;
    display: inline-block;
}

.introduction{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* animation keyframes */
@keyframes waving_hand{
    0%{
        transform: rotate(0deg);
    }
    10%{
        transform: rotate(14deg);
    }
    20%{
        transform: rotate(-8deg);
    }
    30%{
        transform: rotate(14deg);
    }
    40%{
        transform: rotate(-4deg);
    }
    500%{
        transform: rotate(10deg);
    }
    60%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform:translateX(-100%) ;
    }
}

/* scroll section  */

.scrollcontainer{
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 5rem;
    background-color: #3B3B3B;
    
}
.set1{
    display: inline-block;
    animation: 6s slide infinite linear; /* animation name from keyframes */

}

.set1 img{
    height: 300px;
}

/* ProjectSection */
.work{
    max-width: 720px;
    overflow: hidden;
    margin: auto;
}
.projectimgcontainer{
    margin: 20px 20px;
}
.projectimgcontainer img{
    width: 100%;
}

/* foottersection */

#footersection{
    background-color: var(--netural-black);
    color: white;
    padding: 24px 0;
}

.footercontainer{
    background-color: var(--netural-black);
    margin: auto;
    max-width: 80%;

}

#fixfooter{
    position: absolute;
    bottom: 0;
}
.rowsection{
    display: flex;
    justify-content: space-between;
}

.footeraboutme div{
    display: flex;
    align-items: center;

}

.location{
    font-size: 8px;
}

.icons{
    margin: auto;
}

.iconsContainer img{
    height: 28px;
    margin: 0 16px;

}

.copyrightsection{
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 10px;
    font-weight: 300;
    gap: 4px;
}

@media (max-width: 420px) {
    .rowsection{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding: 2rem;
    }
}

form{
    display: flex;
    flex-direction: column;
}

form input, form textarea{
    margin: 4px 0;
    border-radius: 4px;
    padding: 4px;
    outline: none;
}

form button{
    padding: 8px 12px;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    border: none;
    background-color: var(--primary-green);
}